.app.light {
    --bg-color: #bdbdc6;
    --inverted-bg-color: #0000ae;
    --primary-color: #021f5b;
    --secondary-color: #292dc3;
    --inverted-primary-color: #00ff43;
    --inverted-secondary-color: #19d028;
}
